/*
 * Estilos de tu proyecto
 */
.container-about {
  background: cyan;
}
.container-title{
  text-align: center;
}
.line  {
  height: 8px;
  width: 2px;
  background: black;
  display: inline-block;
  justify-content: center;
  
}

.lines {
  display: flex;
  justify-content: center;
}

.text-about{
text-align: justify;
flex-direction: column;
}



